body{
    background-image: url(./assets/bckg_clean.png);

}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blanchedalmond;
  margin-bottom: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bolder;
}
img{
    border-radius: 5px;
    width: 51% vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}