
.hero {
  height: 100vh; /* occupa il 100% dello schermo */
  padding: 3%;
  background-image: url(./assets/background_img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.title{
  margin-bottom: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bolder;
}
.nav-link{
  color: white !important;
}

.logo-nav {
  height: 5rem;
  width: auto;  
}

.navbar-custom{
    background-color: #13161d;
}

.btn-cta{
margin-right: 5px;
margin-top: 5px;
color: rgb(255, 255, 255); 
font-size: 16px; 
line-height: 16px; 
padding: 6px; border-radius: 3px; 
font-family:Arial, Helvetica, sans-serif; 
font-weight: normal; 
text-decoration: none; 
font-style: normal; 
font-variant: normal; 
text-transform: none; 
background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.btn-cta:hover {
background: #1C6EA4; }
.btn-cta:active {
background: #144E75; }


