body{
background-image: url(./assets/background_img.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

.logo-nav {
  height: 5rem;
  width: auto;  
}

.navbar-custom{
    background-color: #13161d;
}
